<body>
  <h1>New Books</h1>
  <%= from_with model:@book, local:true do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Body</p>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
  <% end %>
</body>